In [1]:
import pandas as pd
from IPython.display import display
from capstone_project import utility

/home/andre/software/anaconda3/envs/capstone_project/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
data = pd.read_csv("/home/andre/Documents/mooc/udacity/machinelearning/capstone_project/data/questions.csv")
data.fillna("", inplace=True)

In [3]:
display(data.head(5))

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
display(data[data["qid1"] == 3838])
display(data[data["qid2"] == 3838])

,id,qid1,qid2,question1,question2,is_duplicate
290074,290074,3838,569951,Why do we sleep?,Do we need sleep?,1
398564,398564,3838,778740,Why do we sleep?,Why do we sleep during the night?,0

,id,qid1,qid2,question1,question2,is_duplicate
1918,1918,3837,3838,How can I speed up my Internet connectionn?,How can I speed up my Internet connection?,1
145435,145435,287795,3838,Why do human beings sleep at night?,Why do we sleep?,0
208467,208467,411231,3838,Why don't we sleep when we are awake?,Why do we sleep?,0
220658,220658,434987,3838,Why do humans need sleep?,Why do we sleep?,1
233421,233421,459888,3838,Why do people need sleep?,Why do we sleep?,1
252417,252417,496927,3838,Does everything need sleep?,Why do we sleep?,0
331364,331364,649785,3838,How do Garmin devices measure deep sleep vs li...,Why do we sleep?,0
389707,389707,624662,3838,Does brushing teeth before bed improve sleep?,Why do we sleep?,0
403048,403048,787314,3838,Why do human need sleep?,Why do we sleep?,1

In [5]:
file_directory = "../output/data/"
prefix = "tokenized_"

test_data = utility.load_pickle(file_directory, prefix+"test_data.pkl")
test_preds = utility.load_pickle(file_directory, "final_lstm_preds_on_val.pkl")

In [7]:
file_directory = "../output/data/"
model_directory = "../output/models/"

prefix = "tokenized_"

val_data = utility.load_pickle(file_directory, prefix+"val_data.pkl")
val_features = utility.load_pickle(file_directory, "val_features.pkl")
val_preds = utility.load_pickle(file_directory, "lstm_preds_on_val.pkl")
xgboost = utility.load_pickle(model_directory, "for_validation_xgboost.pkl") 
xgboost_preds = xgboost.predict_proba(val_features)[:,1]

In [8]:
num = 35544
print val_preds[num], xgboost_preds[num]
print val_data.iloc[num]
print val_data.iloc[num]["question1"]
print val_data.iloc[num]["question2"]

[ 0.04432398] 0.199927
id                                                           2555
qid1                                                         5110
qid2                                                         5111
question1                   How school teachers ought to help by?
question2       I'm bad at math because of the way my high sch...
is_duplicate                                                    0
q1_tokens                          [school, teacher, ought, help]
q2_tokens       [bad, math, way, high, school, teacher, teach,...
Name: 2555, dtype: object
How school teachers ought to help by?
I'm bad at math because of the way my high school teachers teach me. Is there any way I can get better at math without the help of teachers?

[ 0.  0.  0. ...,  0.  0.  0.]

In [16]:
from sklearn.metrics import log_loss, accuracy_score
import numpy as np

predictions = np.zeros(len(val_features))

val_labels = utility.load_pickle(file_directory, "val_labels.pkl")

#predictions = val_features["word_share"]

loss = log_loss(val_labels, predictions)
acc = accuracy_score(val_labels, np.rint(predictions))

print "Validation scores for the benchmark model\n LogLoss: {:.4f}\n Accuracy: {:.2f} ".format(loss, acc)

Validation scores for the benchmark model
 LogLoss: 12.7534
 Accuracy: 0.63