In [20]:
import pandas as pd
from IPython.display import display
%matplotlib inline

In [7]:
data = pd.read_csv("/home/andre/Documents/mooc/udacity/machinelearning/capstone_project/data/questions.csv")
kaggle_data = pd.read_csv("/home/andre/Documents/mooc/udacity/machinelearning/capstone_project/data/kaggle-competition/train.csv")

In [8]:
data.fillna("", inplace=True)

In [22]:
display(data.head())
display(kaggle_data.head())

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [24]:
display(data.tail())
display(kaggle_data.tail())

,id,qid1,qid2,question1,question2,is_duplicate
404346,404346,789792,789793,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404347,404347,789794,789795,Do you believe there is life after death?,Is it true that there is life after death?,1
404348,404348,789796,789797,What is one coin?,What's this coin?,0
404349,404349,789798,789799,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404350,404350,789800,789801,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

,id,qid1,qid2,question1,question2,is_duplicate
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [10]:
data_all = len(data)
kdata_all = len(kaggle_data)

print "data: ", data_all
print "kaggle data: ", kdata_all

data:  404351
kaggle data:  404290

In [14]:
data1 = len(data[data.is_duplicate == 1])
kdata1 = len(kaggle_data[kaggle_data.is_duplicate == 1])

data0 = len(data[data.is_duplicate == 0])
kdata0 = len(kaggle_data[kaggle_data.is_duplicate == 0])

print data1, data1/float(data_all), data0
print kdata1, kdata1/float(kdata_all), kdata0

149306 0.369248499447 255045
149263 0.369197853026 255027

In [29]:
words = data[["question1", "question2"]].applymap(lambda str: len(str.split()))
print words.mean().mean()
print words.apply(max)

11.0614490876
question1    125
question2    237
dtype: int64